<h2>Methods that were not run</h2><table>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Header_Text<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies the Header text</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SearchScheme_Functionality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Searching Functionality with Scheme Name</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_GuardianName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Guardian Name search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Table_Header_Row<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Table Header Row</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Brief<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This case verifies Brief toggle all search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SOA_AmountRow_Right_CommaSeparated<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies Amount Row should have comma separated values</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SOA_2Decimal_For_Amount_Row<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies decimal points should be 2 for Amount Row under SOA</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Folio_Details<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies Folio Details overlay</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SearchApplicant_Mapped<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies searching functionality with applicant mapped name</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SOA_Values2<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies SOA Values2</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_AmountRow_Right_Aligned<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies Amount Row is Right ALigned</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Joint1PAN<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies JOint2 PAN search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Joint2Name<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Joint2 Name search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Download_Txnslip_FolioDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies download txn slip of folio details</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_GuardianPAN<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Guardian PAN search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SOA_4Decimal_For_NAV_Unit_Balance_Rows<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies decimal points should be 4 for NAV, Unit and Balance Units Rows</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_JOint1Name<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies JOint 1 Name search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_CommaSeperatedValues<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies Amount Row should have comma separated values</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_AssignFolioToExistingInvestor_Functionality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies All the Features before and after performing Asign Folios to Existing Investor Action on Folio Lookup</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Folio_Lookup_Actions<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This Test Case Verifies Actions on Folio Lookup</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_ModeOfHolding<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Mode of holding search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Download_Txnslip_SOA<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies download txn of SOA</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Joint2PAN<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Joint2 PAN search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SearchInvestor_Functionality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Searching Functionality with Investor Name</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_TexStatus<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Tex Status search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SearchPAN<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies PAN search functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_IINCANUCCSearch<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case Verifies IIN UCC CAN seacrh functionality</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_SearchFolio_Functionality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Searching Functionality with Folio</i></td></tr>
</table>