<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95b478">  <td>20/05/17 22:02:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_FolioLookup_URL()[pri:1, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_FolioLookup_URL</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/17 22:02:33</td>   <td>2527</td> <td>&nbsp;</td><td title="&lt;&lt;BaseLib.after_test_setup()[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;after_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/17 22:02:33</td>   <td>2524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/17 22:02:13</td>   <td>-17371</td> <td>&nbsp;</td><td title="&gt;&gt;BaseLib.before_test_setup()[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;before_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/17 22:02:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
