<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Broker.Broker_Folio_Lookup</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SOA_4Decimal_For_NAV_Unit_Balance_Rows</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_FolioLookup_URL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Joint2Name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Download_Txnslip_FolioDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_AssignFolioToExistingInvestor_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_JOint1Name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_CommaSeperatedValues</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SOA_Values2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Joint1PAN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_GuardianPAN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SOA_AmountRow_Right_CommaSeparated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_AssignfoliotonewInvestor_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SOA_2Decimal_For_Amount_Row</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Update_UCC_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_GuardianName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Header_Text</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Folio_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Table_Header_Row</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SearchScheme_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Brief</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_mapped_ucc_iin_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SearchFolio_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SearchPAN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_IINCANUCCSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_TexStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Joint2PAN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_AssignfoliotonewInvestor_WithoutPAN_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SearchApplicant_Mapped</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_AmountRow_Right_Aligned</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SearchInvestor_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_ModeOfHolding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Folio_Lookup_Actions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Download_Txnslip_SOA</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforetestsetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftertestsetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
