<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseLib.before_test_setup()[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;before_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:29</td>   <td>7987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:29</td>   <td>7987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchFolio_Functionality()[pri:5, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchFolio_Functionality</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:37</td>   <td>15627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:38</td>   <td>16048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:38</td>   <td>16048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchInvestor_Functionality()[pri:7, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchInvestor_Functionality</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:44</td>   <td>22153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:44</td>   <td>22307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:44</td>   <td>22307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchScheme_Functionality()[pri:8, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchScheme_Functionality</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:50</td>   <td>28409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:50</td>   <td>28584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:50</td>   <td>28585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchApplicant_Mapped()[pri:9, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchApplicant_Mapped</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:52</td>   <td>30641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:52</td>   <td>30927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:52</td>   <td>30927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchPAN()[pri:10, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchPAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:54</td>   <td>32980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:55</td>   <td>33147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:55</td>   <td>33147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_IINCANUCCSearch()[pri:11, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_IINCANUCCSearch</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:57</td>   <td>35190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:57</td>   <td>35344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:57</td>   <td>35344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_TexStatus()[pri:12, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_TexStatus</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:59</td>   <td>37366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:59</td>   <td>37534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:59</td>   <td>37534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_ModeOfHolding()[pri:13, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_ModeOfHolding</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:01</td>   <td>39566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:01</td>   <td>39711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:01</td>   <td>39711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_JOint1Name()[pri:14, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_JOint1Name</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:03</td>   <td>41756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:03</td>   <td>41936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:03</td>   <td>41937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Joint1PAN()[pri:15, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Joint1PAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:05</td>   <td>43960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:06</td>   <td>44092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:06</td>   <td>44092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Joint2Name()[pri:16, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Joint2Name</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:08</td>   <td>46133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:08</td>   <td>46281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:08</td>   <td>46281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Joint2PAN()[pri:17, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Joint2PAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:10</td>   <td>48324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:10</td>   <td>48458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:10</td>   <td>48458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_GuardianName()[pri:18, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_GuardianName</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:12</td>   <td>50496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:12</td>   <td>50649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:12</td>   <td>50649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_GuardianPAN()[pri:19, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_GuardianPAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:14</td>   <td>52691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:14</td>   <td>52823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:14</td>   <td>52823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Brief()[pri:20, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Brief</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:18</td>   <td>56832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:18</td>   <td>56837</td> <td>&nbsp;</td><td title="&lt;&lt;BaseLib.after_test_setup()[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;after_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
