<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Brief()[pri:20, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Brief</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:10</td>   <td>-4365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_GuardianName()[pri:18, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_GuardianName</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:12</td>   <td>-2174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_GuardianPAN()[pri:19, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_GuardianPAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:55</td>   <td>-19676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_IINCANUCCSearch()[pri:11, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_IINCANUCCSearch</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:01</td>   <td>-13112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_JOint1Name()[pri:14, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_JOint1Name</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:03</td>   <td>-10886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Joint1PAN()[pri:15, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Joint1PAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:06</td>   <td>-8731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Joint2Name()[pri:16, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Joint2Name</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:23:08</td>   <td>-6542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_Joint2PAN()[pri:17, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_Joint2PAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:59</td>   <td>-15289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_ModeOfHolding()[pri:13, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_ModeOfHolding</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:50</td>   <td>-24238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchApplicant_Mapped()[pri:9, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchApplicant_Mapped</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:29</td>   <td>-44836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchFolio_Functionality()[pri:5, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchFolio_Functionality</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:38</td>   <td>-36775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchInvestor_Functionality()[pri:7, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchInvestor_Functionality</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:52</td>   <td>-21896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchPAN()[pri:10, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchPAN</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:44</td>   <td>-30516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_SearchScheme_Functionality()[pri:8, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_SearchScheme_Functionality</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/05/16 15:22:57</td>   <td>-17479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Broker_Folio_Lookup.Verify_TexStatus()[pri:12, instance:Broker.Broker_Folio_Lookup@4c70fda8]">Verify_TexStatus</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:18</td>   <td>4014</td> <td>&nbsp;</td><td title="&lt;&lt;BaseLib.after_test_setup()[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;after_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:37</td>   <td>-37196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:44</td>   <td>-30670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:50</td>   <td>-24414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:52</td>   <td>-22182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:54</td>   <td>-19843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:57</td>   <td>-17633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:59</td>   <td>-15457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:01</td>   <td>-13257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:03</td>   <td>-11067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:05</td>   <td>-8863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:08</td>   <td>-6690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:10</td>   <td>-4499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:12</td>   <td>-2327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:14</td>   <td>-132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:18</td>   <td>4009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.aftertestsetup(org.testng.ITestResult)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&lt;&lt;aftertestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:21</td>   <td>-52823</td> <td>&nbsp;</td><td title="&gt;&gt;BaseLib.before_test_setup()[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;before_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:29</td>   <td>-44836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:38</td>   <td>-36775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:44</td>   <td>-30516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:50</td>   <td>-24239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:52</td>   <td>-21896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:55</td>   <td>-19676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:57</td>   <td>-17479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:22:59</td>   <td>-15289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:01</td>   <td>-13112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:03</td>   <td>-10887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:06</td>   <td>-8731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:08</td>   <td>-6542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:10</td>   <td>-4365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:12</td>   <td>-2174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/16 15:23:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.beforetestsetup(java.lang.reflect.Method)[pri:0, instance:Broker.Broker_Folio_Lookup@4c70fda8]">&gt;&gt;beforetestsetup</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
