<h2>Methods that were not run</h2><table>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Header_Text<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies the Header text</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_Table_Header_Row<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Table Header Row</i></td></tr>
<tr><td>Broker.Broker_Folio_Lookup.Verify_FolioLookup_URL<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>This test case verifies Folio Lookup URL</i></td></tr>
</table>