<h2>Reporter output</h2><table><tr><td>Verify_SearchFolio_Functionality Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_SearchInvestor_Functionality Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_SearchScheme_Functionality Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_SearchApplicant_Mapped Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_SearchPAN Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_IINCANUCCSearch Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_TexStatus Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_ModeOfHolding Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_JOint1Name Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_Joint1PAN Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_Joint2Name Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_Joint2PAN Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_GuardianName Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_GuardianPAN Script is failed :</td></tr>
<tr><td>SCreenshot has been taken</td></tr>
<tr><td>Verify_Brief Script is failed :</td></tr>
</table>